<% layout('landing-page') %>

<div class="d-flex" id="wrapper">
  <% include partials/landing-page/sidebar %>
    <div id="page-content-wrapper">
      <% include partials/landing-page/navbar %>
        <div class="container main-body">
          <h1 class="mt-5">Hello,  <%= user.fullname %></h1>
          <p>What would you like to do today?</p>
            <div class="row pt-5">
              <div class="col-sm-4 " id="colDes">
                <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                  <h3>Add Company</h3>
                  <p class="text-center"> Add company profile. Registered employee can give ratings and reviews. </p>
                  <a href="/company/create" class="btn btn-block btn-secondary link-btn">Add</a>
              </div>
                <div class="col-sm-4" id="colDes"> 
                  <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3>Search</h3>
                    <p class="text-center"> Search through our catalogue and find your best partner. </p>
                    <a href="" class="btn btn-block btn-secondary link-btn">Search</a>
                </div>
                <div class="col-sm-4" id="colDes">
                  <div class="info-icon"><i class="fa fa-star"></i></div>
                  <h3>Rate</h3>
                  <p class="text-center"> Rate and review other companies and get your company reviewed as well </p>
                  <a href="" class="btn btn-block btn-secondary link-btn">Rate</a>
                </div>
            </div>
        </div>
    </div>
</div>

   
   
   
