<% layout('layout') %>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- Sidebar -->
   <div class="bg-light border-right" id="sidebar-wrapper">
     <div class="sidebar-heading text-center"><h3>RateMe</h3></div>

      <div class="user-pic">
          <img class="img-responsive img-rounded mx-auto d-block" style="width:100px;" src="/images/pic.svg"
            alt="User picture">
            <div class="profile-info text-center">
              <p>Welcome,</p>
              <p class="font-weight-bold">your are viewing as a guest</p>
              <p class="">please login first</p>
            </div>
      </div>
     <div class="list-group list-group-flush pt-3">
       <div class="list-group list-group-flush">
          <a href="/signup" class="list-group-item list-group-item-action bg-light"><i class="fa fa-home"></i> Register Here</a>
          
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <% include partials/nav %>

      <div class="container main-body">
          <h1 class="mt-5" style="text-align: center !important;">Welcome to Rate Me</h1>
          <!-- <p>How are you to do today?</p> -->
            <!-- <div class="row pt-5">
              <div class="col-sm-4 " id="colDes">
                <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                  <h3>Add Company</h3>
                  <p class="text-center"> Add company profile. Registered employee can give ratings and reviews. </p>
                  <a href="#" class="btn btn-block btn-secondary link-btn">Add</a>
              </div>
                <div class="col-sm-4" id="colDes"> 
                  <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3>Search</h3>
                    <p class="text-center"> Search through our catalogue and find your best partner. </p>
                    <a href="" class="btn btn-block btn-secondary link-btn">Search</a>
                </div>
                <div class="col-sm-4" id="colDes">
                  <div class="info-icon"><i class="fa fa-star"></i></div>
                  <h3>Rate</h3>
                  <p class="text-center"> Rate and review other companies and get your company reviewed as well </p>
                  <a href="" class="btn btn-block btn-secondary link-btn">Rate</a>
                </div>
            </div> -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


   
   
   
   
