<% layout('layout') %>

<section>
    <div class="container">
        <form method="POST" action="/login">
            <div class="row justify-content-center pt-5">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Login</h1>
                        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                             <% if(hasErrors){%>
                                <% for(var i = 0; i < messages.length; i++) {%>
                                    <div class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">
                                            x
                                        </a>  
                                    <%= messages[i] %>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input id="email" type="email" class="form-control" name="email" autocomplete="on" placeholder="Email">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input id="password" type="password" class="form-control" name="password" autocomplete="on" placeholder="Password">
                        </div>
                        
                    </div>
                    
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div class="form-check">
                                <label class="">
                                <input type="checkbox" name="rememberme" value="yes">
                                    Remember me
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="login" value="Login" class="btn btn-primary mt-4  btn-block" name="login">
                            </div>
                        
                        </div>
                    </div>
                    <label class="form-check-label pull-right">
                            <a href="/forgot">Forgot password?</a>
                    </label>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <label class="form-check-label">
                            Do not have an account? <a href="/signup">Register here.</a>
                            </label>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>