<% layout('layout') %>

<section>
    <div class="container">
        <form action="POST" class="" id="signupForm" action="/signup">
            <div class="row justify-content-center pt-5">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="row">
                        <div class="col text-center">
                        <h1>Register</h1>
                        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                        <input id="fullname" type="text" class="form-control" name="fullname" autocomplete="on" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input id="email" type="email" class="form-control" name="email" autocomplete="on" placeholder="Email">
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <input id="password" type="text" class="form-control" name="password" autocomplete="on" placeholder="Password">
                        </div>
                        <!-- <div class="col">
                            <input id="repassword" type="text" class="form-control" name="repassword" autocomplete="on" placeholder="Confirm Password">
                        </div> -->
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" id="signup" value="Signup" class="btn btn-primary mt-4  btn-block" name="signup">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-4">
                        <div class="col">
                            <label class="form-check-label">
                            Already have an account? <a href="/login">Login here.</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>