<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-dark" id="menu-toggle"><i class="fa fa-bars"></i></button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <span class="navbar-text mr-4">
        <%= user.fullname %>
      </span>
      <li class="nav-item">
          <a href="/logout"><button class="btn btn-outline-danger my-2 my-sm-0" type="submit"> Logout</button></a>
        </li>
    </ul>
  </div>
</nav>